<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      {% include "head.liquid" %}
  </head>
  <body>
    <header>
      {% include "header.liquid" %}
    </header>
    <main>
      <div>
        <h2>{{ page.title }}</h2>
        {{ page.content }}
      </div>
    </main>
    <footer>
      {% include "footer.liquid" %}
    </footer>
  </body>
</html>
