body {
  font-family: "Iosevka Eta", "monospace";
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0) calc(100% - 280px), black calc(100% - 80px)), url("/assets/images/sky_sml.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  filter: drop-shadow(#000 0 0 10px)
}

main {
  max-width: 900px;
  min-width: 600px;
  margin: 80px;
  padding: 80px;
  background-color: #000;
  flex: 1 1 auto;
}

h1, h2, h3 {
  font-family: "Vollkorn", "serif";
  text-shadow: 0 0 5px #ead3ff;
  font-weight: 500;
  transform: scale(0.8, 1) translate(-20%, 0);
  display: inline-block;
  font-size-adjust: 0.7;
}

a {
  color: #fa7c00;
  text-shadow: 0 0 5px #f72c2c;
  text-decoration: none;
}

a:visited {
  color: #e40090;
  text-shadow: 0 0 5px #f72c2c;
}

a:hover {
  text-shadow: 0 0 10px #f72c2c;
}

#logo{
  max-width: 500px;
  display: block;
  margin: auto;
  padding-bottom: 50px;
}

#logo > img {
  position: relative;
  width: 100%;
  margin-left: -6%;
}
