body {
  font-family: "Iosevka Eta", "monospace";
  color: #fff;
  background-color: #000;
}

h1, h2, h3, h4, h5 {
  font-family: "Vollkorn", "serif";
}

a {
  color: #fa7c00;
  text-shadow: 0 0 5px #f72c2cff;
  text-decoration: none;
}

a:visited {
  color: #e40090;
  text-shadow: 0 0 5px #f72c2cff;
  text-decoration: none;
}

a:hover {
  text-shadow: 0 0 10px #f72c2cff;
  text-decoration: none;
}
